.content-meta {
  margin-top: 0;
  color: var(--gray);

  &[show-comma="true"] {
    > span:not(:last-child) {
      margin-right: 8px;

      &::after {
        padding-left: 8px;
        content: "•";
      }
    }
  }
}
